body {
  background-color: #FAF1EB;
  color: #1A2B4D;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #73605C;
}

a:hover {
  color: #1A2B4D;
  ;
}

h1 {
  color: #D97E8E;
  margin: 20px 0 10px 0;
  font-family: 'Pompiere', cursive;
  font-size: 6rem;
  line-height: 2;
}

h2 {
  color: #304F8C;
  font-family: 'Pompiere', cursive;
  font-size: 3rem;
}

h3 {
  color: #304F8C;
  font-family: 'Pompiere', cursive;
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: bold;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #BEE3DB;
  border-width: 5px;
  width: 30%;
  margin-top: 50px;
}

p {
  margin: 0;
  font-weight: normal;
}

.bottom-container {
  background-color: #F2CBC2;
  padding-top: 10px;
}

.btn {
  background: #BF6F7E;
  /* background-image: -webkit-linear-gradient(top, #BF6F7E, #E68597);
  background-image: -moz-linear-gradient(top, #BF6F7E, #E68597);
  background-image: -ms-linear-gradient(top, #BF6F7E, #E68597);
  background-image: -o-linear-gradient(top, #BF6F7E, #E68597);
  background-image: linear-gradient(to bottom, #BF6F7E, #E68597); */
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  font-family: 'Pompiere', cursive;
  color: #FAF1EB;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  border: solid #FAF1EB 2px;
  text-decoration: none;
}

.btn:hover {
  background: #59343b;
  text-decoration: none;
}

.mywork_container {
  margin: 20px 0;
  padding-bottom: 40px;
}

.bottom-footer-link {
  margin: 10px 20px;
  text-decoration: none;
}

.headline_container {
  /* position: relative; */
  padding: 100px 0 30px 0;
  /* height: 200px;
  width: 80%;
  border: solid 10px;
  padding: 20px;
  */
}

.headline_sub {
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.headline_visualisation {
  text-decoration: underline;
}

.intro-container {
  text-align: left;
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
}

.intro-photo {
  float: left;
  width: 200px;
  margin: 0 20px 20px 20px;
}

.mywork_container {
  background: #ecedf5;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 50px;
}

.skill-container {
  background: #ecedf5;
  padding-top: 30px;
  padding-bottom: 50px;
}

.skill-icon {
  /* margin:0 20px 120px 0 ; */
  /* margin: 20px ; */
  float: left;
  width: 100px;
  margin: 0 20px 20px 20px;
  /* display:inline-block; */
}

.skill-description {
  /* display:inline-block; */
  text-align: left;
}

.skill-row {
  width: 70%;
  margin: 0 auto;
}

.skill-row p {
  line-height: 1.5;
  /* width:70%;
  margin:0 auto; */
}

.bottom_signature {
  font-size: 0.75rem;
  padding: 20px 0;
}

.portfolio_item {
  /* margin-top: 50px; */
  padding-top: 30px;
  padding-bottom: 50px;
}

.portfolio_item > p,
.portfolio_item a,
.portfolio_item h3{
  width: 50%;
  margin: auto;
}


.portfolio_item h3{
padding-bottom: 20px;
}
.portfolio_item_2
, .portfolio_item_4
, .portfolio_item_6
, .portfolio_item_8
, .portfolio_item_10
, .portfolio_item_12
 {
  background-color: #ecedf5;
}

.portfolio_image {
  display: block;
  margin:20px auto ;
  width: 50%;
}

.tableauPlaceholder{
  margin: auto;} */

/* .portfolio_image {
  display: block;
  margin: auto;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
} */


/* .portfolio_container {
  position: relative;
  width: 50%;
} */

/* .portfolio_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.portfolio_container:hover .image {
  opacity: 0.3;
}

.portfolio_container:hover .middle {
  opacity: 1;
}

.portfolio_text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
} */

/*
.cloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
} */
